<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="dismiss()">
                <ion-icon name="close-circle" class='details-header-icon'></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding [ngStyle] = "{'background-color': backgroundColor }">

    <ion-item class='details-item'>
        <ion-label stacked>Qual o sentimento geral?</ion-label>
        <ion-label>{{sentiment.perc}} {{sentiment.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Qual o tema predominante?</ion-label>
        <ion-label>{{classification.perc}} {{classification.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Qual o idioma predominante?</ion-label>
        <ion-label>{{language.perc}} {{language.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Qual a frequência de comentários de teor adulto?</ion-label>
        <ion-label>{{adult.perc}} {{adult.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Os tweets são subjetivos ou objetivos?</ion-label>
        <ion-label>{{subjectivity.perc}} {{subjectivity.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Há muito spam?</ion-label>
        <ion-label>{{spam.perc}} {{spam.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Qual a complexidade de leitura dos tweets?</ion-label>
        <ion-label>{{readability.perc}} {{readability.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Os tweets são mais femininos ou masculinos?</ion-label>
        <ion-label>{{gender.perc}} {{gender.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Os tweets são comerciais?</ion-label>
        <ion-label>{{commercial.perc}} {{commercial.label}}</ion-label>
    </ion-item>

    <ion-item class='details-item'>
        <ion-label stacked>Os tweets são educacionais?</ion-label>
        <ion-label>{{educational.perc}} {{educational.label}}</ion-label>
    </ion-item>

</ion-content>
