<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngStyle] = "{'background-color': backgroundColor }">

    <ion-item text-wrap class='home-item'>
        <ion-label class='home-label'>
            {{label}}
        </ion-label>
    </ion-item>

    <ion-item *ngFor="let item of items" class='home-item' (click)='onClick(item)'>
        {{item}}
    </ion-item>

</ion-content>
